/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    width: 80%;
    margin: 0 auto;
}

/* banner styles */
.banner-info{
    margin-top: 60px;
}

.banner-title{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
}

.banner-details{
    width: 490px;
    font-weight: 600;
    font-size: 16px;
}

button{
    color:#fff;
    background: #E02C6D;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 30px;
}

i{
    color:#fff;
}

.banner{

    display: flex;
    justify-content:space-between;
}

.banner-img{
    position: relative;
    z-index: 1;
    width: 450px;
    height: 450px;
    border: 2px solid #d1cbcb;
    border-radius: 50%;
}

.bg{
    width: 300px;
    height: 300px;
    border:60px solid #d4d0d0;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 35px;
    left: 80px;
}

.banner-img img{
    width: 440px;
    height: 414px;
}

/* logo styles */
.logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 40px;
    margin-bottom: 40px;
}

/* popular collection */
.collections{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap:25px;
   margin-top: 20px;
}

.collection-name{
    font-family: 'Poppins', sans-serif;
    color: #18191F;
    font-weight: 500;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 6px;
}

.dollar{
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 24px;
}

.title{
    text-align: center;
}

.fa-star{
    color: #FFC014;
}

.collection-details{
    font-family: 'Poppins', sans-serif;
    color: #787885;
    font-weight: 700;
    font-size: 14px;
    width: 200px;
    margin-top: 5px;
}

/* features styles */
.features{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.feature-title{
    font-family: 'Poppins', sans-serif;
    color:#0A0826;
    font-weight: 700;
    font-size: 38px;
    
}

.feature-details{
    font-family: 'Poppins', sans-serif;
    width: 400px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
}

/* footer styles */

footer{
    color:#fff;
    background:#0A0826;
}

.footer-info{
    text-align: center;
    align-items: center;
    padding: 30px 0;
}

.footer-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-content{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
}

.icon-details{
    display: flex;
    justify-content: center;
   
}

.icon{
    margin-left: 5px;
}


/* media queries*/

@media only screen and (max-width:576px){
    .container{
        padding: 10px;
       
    }
    .banner{
        flex-direction: column-reverse;
        
        
    }
    .banner-img img {
        width: 301px;
        height: 271px;
        margin-top: 39px;
    }
    
    .bg {
       width: 250px;
       height: 250px;
       top: 44px;
       left: 40px;
    }
    .banner-img{
        width: 344px;
        height: 340px;
        margin-top: 10px;
    } 

    .banner-title {
        font-size: 26px;
        width: 300px;
        text-align: center;
    }

    .banner-details{
        text-align: center;
        width: 380px;
        font-size: 20px;
    }
    button{
        margin-left: 80px;
    }
    /* logo  */
    .logos{
        grid-template-columns: repeat(4,1fr);
        grid-row-gap: 20px;
        grid-column-gap:20px;
        
    }
    img{
        width: 75px;
    }

    /*  popular collection */
    .collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap:25px;
     }
     .collection img{
        width: 100%;
     }

     /* features  */
     .features{
        flex-direction: column-reverse;
        
    }
    .feature-img{
        margin-top: 20px;
    }
    img{
        width: 100%;
    }
    .feature-info{
        text-align: center;
    }
    .feature-details {
        width: 335px;
        font-weight: 700;
        font-size: 21px;
        margin-top: 20px;
    }

    .btn{
        margin-left: 20px;
    }

    .icon{
    
        margin-right: 20px;
    }
    
}





